.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(79deg, #5d72dc, #c46fc6 48%, #F7944D);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

a {
    background: none;
    color: white;
    text-decoration: underline;
}
