/* General LoggedOut styling */
.loggedOutDiv {
    height: 100%;
    width: 550px;
}

.nav-tabs > .nav-item > button {
    height: 50px;
    color: #7439db;
}

/* Button styling */
.loggedOutButton {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;

    margin-top: 20px;

    /*
    position: absolute;
    top: 460px;
    left: 50%;
    transform: translateX(-50%);
    */
}

.btn {
    width: 100%;
}

/* Form styling */
.test {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

#forgotPwd {
    text-align: left;
}

.form-check {
    text-align: left;
}

/* Login 
#loginRegister-tab-login[aria-selected="true"] {
    background-color: rgb(122, 158, 210);
    border: solid;
    border-color: rgb(122, 158, 210)
}
.loginDiv {
    background-color: rgb(122, 158, 210);
    height: 330px;
}



/* Register 
#loginRegister-tab-register[aria-selected="true"] {
    background-color: rgb(131, 210, 122);
    border: solid;
    border-color: rgb(131, 210, 122);
}
.registerDiv {
    background-color: rgb(131, 210, 122);
    height: 330px;
}
*/
